p {
    color: white;
}

body {
    background: black;
}

nav ul li{
    color: blue;
    list-style: none;
    display: inline;

}

header {
    color: aqua;
    border: 5px solid aqua;
}

h2 {
    color: lightgreen ;
}

footer {
    color: lightpink;
    text-align: center;
}


image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
}

script {
    color: white
}

hr {
   background-color: aqua; height: 2px; border: 0;
}